* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("skyscraper.jpg");
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
    padding: 50px;
    max-width: 1200px;
}

.container h2 {
    color: #000000;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}

header {
    padding: 35px;
    background-color: #36454F;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    font-weight: normal;
}

nav {
    padding: 35px;
    background-color: #5E6A72;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

.row {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.col {
    margin: 10px;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 35px;
    box-shadow: 10px 10px 10px 5px black;
    overflow: hidden;
    flex: 1;
}

.col .content {
    padding: 100px;
    position: relative;
    z-index: 1;
}

.col h3 {
    margin-bottom: 10px;
    font-size: 1.7rem;
}

.col p {
    margin-bottom: 10px;
    font-size: 1.2rem;
    line-height: 1.5;
}

.col a {
    display: block;
    padding: 6px 12px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

form {
    margin: 0 auto;
    max-width: 500px;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

label {
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea,
select {
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid #000000;
}

input[type="radio"] {
    border: 1px solid #000000;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 4px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #000000;
}

.table-primary th,
.table-primary td {
    background-color: #5E6A72;
    color: #FFFFFF;
}

footer {
    padding: 35px;
    background-color: #36454F;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
}
